@import url("../css/fonts.css");

body{
background: var(--background);
outline: none;
}

html, body{
    margin: 0% 0.1rem;
    
    justify-self:center;
    outline: none;
}

:root{
    /*fants*/
    --Michael:'Michael', cursive;
    --Anton:'Anton', cursive;
    --Josefin:'Josefin', cursive;
    --Lexend:'Lexend', cursive;
    --Livvic:'Livvic', cursive;

    --nav-color: gray;
    --sky: rgb(20, 200, 200);
    --text-links: rgb(55, 56, 56);
    --hover: rgb(241, 207, 13);

    --background: rgb(140, 140, 140)
}
/*----------main tags--------*/
a{
    text-decoration: none;
    color: var(--text-links);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*------nav----*/
.nav{
    background: var(--nav-color);
    padding: 0 2rem;
    height: 0rem;
    min-height: 12vh;
    max-height: 12vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    width: 100%;
}
.nav .nav-brand{
    display: flex;
    flex-direction: row;
    outline: none;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family:var(--Anton);
    outline: none;

}
.nav .nav-items{
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav .nav-menu .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Michael);
    cursor: pointer;
}
.nav .nav-menu .nav-link:hover{
    color: var(--hover);
}
.nav .nav-menu .nav-link:hover{
    
    background-color: darkslategrey;
}
.extras{
    display: none;
    background-color: rgb(63, 63, 63);
    text-align: center;
    width: 103px;
    border-radius: 0 0 15% 15%;
}
.extras a h3{
    font-family: var(--Michael);
    font-size: 1.2rem;
    color: white;
    
}
.extras a h3:hover{
    color: var(--hover);
    
}
.show{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--Michael);
    position: absolute;
    left: 75vw;
    top: 11.4vh;
}


/* .increase{
    min-height: 20vh;
} */
.nav .nav-menu{
    justify-content:  space-between;
}
.nav .toggle-collapse{
    outline: none;
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icon{
    outline: none;
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icon i{
    outline: none;
    color: rgb(10, 14, 32);
    font-size: 2rem;
}

.search{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.search i{

        padding: 1rem 1rem;
      
}

main  section  input{
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    border-color: black;
    border: 10px;
}
h3.definition{
    font-family: var(--Livvic);
    font-size: 3rem;
    margin: 10px;
}

main .casing{
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;  
}
main .casing .container{
    padding: 4rem 0;
}
main .casing .container .temp-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
}
main .casing .container .temp-cont .templates{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
main .casing .container .temp-cont .templates img{
    width: 350px;
    height: 450px;
}
.btn-get{
    padding: .3rem 1rem;
    font-size: 2rem;
    background: var(--sky);
    margin: .5rem;
    border-radius: 19px;
}
main .blog{
    background: url(../assets/pattern.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
    
}
main .blog .blog-content img{
    border-radius: 0px 0px 25px 25px;
    
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}
main .blog-content .btn-blog{
    padding: .3rem 1rem;
    font-size: 2rem;
    background: var(--sky);
    margin: .5rem;
    border-radius: 19px;
}
main .blog-content img{
    height: 300px;
    width: 200px;
}
.container{
    margin: 0 5vw;
}
.collapse{
    height: 27em;
}
main section .small-intro{
    
    padding-top: 9rem;
    text-align: center;
    font-family: var(--Michael);
    font-size: 2rem;
}
.welcoming{
    height: 12vh;
    text-align: center;
}
h1.welcome{
    font-family: var(--Michael);
    font-size: 2rem;
    color: var(--text-links);
}
button.sign-up{
    margin: 5px;
    padding: 0.9rem 1.3rem;
    border-radius:  15%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-family: var(--Michael);
    
}
@media only screen and (max-width:770px){
    .nav{
        max-height: 12vh;
    }
    main .casing .container .temp-cont{
        display: inline-block;
        width: 100%;
        margin: 0 3rem;
        
    }
    main .casing .container .temp-cont .templates{
        width: 90;
    }
    
    main .casing .container .temp-cont .templates img{
        width: 100%;
        
    }
}

@media only screen and (max-width: 545px){
    main{
        z-index: 3;
    }
    .nav{
        max-height: 27rem;
        min-height: 12vh;
    }
    .nav .nav-menu, .nav-items{
      flex-direction: column; 
      z-index: 1;
    }

    b.long{
        display: none;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    button.sign-up{
        margin: 5px;
        padding: 0.9rem 1.3rem;
        border-radius:  15%;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
        font-size: 1rem;
        font-family: var(--Michael);
        
    }
    main section .small-intro{
       
        font-size: 1rem;
    }
    .search{
        padding: auto;
    }
    .show{
        display: flex;
        flex-direction: column;
        margin: 0;
        font-family: var(--Michael);
        position: absolute;
        left: 200px;
        top: 215px;
        z-index: 2;
    }
}
